.background-elements-icon {
  width: 2220.2px;
  height: 2566.3px;
  position: absolute;
  margin: 0 !important;
  bottom: -260.3px;
  left: -625px;
  object-fit: contain;
}
.header-link,
.header-link2 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.header-link2 {
  display: inline-block;
  min-width: 86px;
}
.header-links-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
  gap: 14px;
  opacity: 0.7;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-phudu);
  flex: 1; 
}
.header-donate,
.header-language {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.header-language {
  font-weight: 500;
  color: inherit;
  min-width: 26px;
  order: 1;
}
.header-donate {
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-phudu);
  color: var(--color-white);
  text-align: left;
  min-width: 52px;
}
.header-donate-container {
  cursor: pointer;
  border: 0;
  padding: 14.5px 15px;
  background-color: var(--color-coral);
  border-radius: var(--br-5xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  order: 2;
}
.header-donate-container:hover,
.hero-button-container:hover {
  background-color: var(--color-firebrick);
}
.header-language-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; 
  gap: var(--gap-5xl);
  flex: 1;
}
.sf-logo-icon {
  height: 44px;
  width: 78.3px;
  overflow: hidden;
  flex-shrink: 0;
  left: 50%; 
}
.menu-icon {
  display:none;
}

.header-container {
  align-self: stretch;
  border-radius: var(--br-5xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: rgba(0, 0, 0, 0.7);
  font-family: var(--font-phudu);
}
.background-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hero-description,
.hero-title {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.hero-title {
  letter-spacing: -0.02em;
  line-height: 115%;
  font-weight: 700;
  display: inline-block;
  min-width: 115px;
  z-index: 1;
}
.hero-description {
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 400;
}
.hero-button-text {
  height: 17px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 17px;
  font-weight: 500;
  font-family: var(--font-phudu);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
}
.hero-button-container {
  cursor: pointer;
  border: 0;
  padding: 19px 18px;
  background-color: var(--color-coral);
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hero-content,
.hero-description1,
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-description1 {
  align-self: stretch;
  gap: var(--gap-mid);
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-manrope);
}
.hero-content,
.left {
  gap: var(--gap-2xl);
  max-width: 100%;
}
.hero-content {
  width: 432px;
  z-index: 1;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslategray-200);
}
.left {
  border-radius: var(--br-5xl);
  background-color: var(--color-lightcyan);
  overflow: hidden;
  padding: 90px var(--padding-21xl);
  box-sizing: border-box;
  position: relative;
}
.screenshot-2025-01-14-at-900 {
  height: 100.15%;
  width: 144.91%;
  top: 0;
  right: -22.97%;
  bottom: -0.15%;
  left: -21.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hero-image-background {
  width: 500%;
  height: 500%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(41, 41, 41, 0.4),
    rgba(41, 41, 41, 0) 56%,
    rgba(41, 41, 41, 0.4)
  );
  z-index: 1;
}
.hero-image-description {
  position: relative;
  line-height: 151%;
  font-weight: 500;
  z-index: 2;
}
.hero-image-credits {
  flex: 1;
  position: relative;
  z-index: 2;
}
.credits-container,
.image-description-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits-container {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 0.9);
}
.image-description-container {
  position: absolute;
  top: -30px;
  flex-direction: column;
  padding: var(--padding-47xl) 183px 53px 190px;
  box-sizing: border-box;
  gap: 32rem;
}
.img-section {
  border-radius: var(--br-5xl);
  overflow: hidden;
  min-width: 447px;
  max-width: 100%;
  position: relative;
  text-align: center;
  font-size: var(--font-size-lg);
  color: rgba(255, 255, 255, 0.7);
  font-family: var(--font-manrope);
}
.content,
.main {
  align-self: stretch;
  max-width: 100%;
}
.content {
  gap: var(--gap-base);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 0;
  grid-column-gap: 16px;
  max-width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: #2c2c2c;
  font-family: var(--font-phudu);
}
.logo-1-2,
.logo-1-4 {
  height: 64px;
  margin-right: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logo-1-4 {
  width: 101px;
}
.logos {
  margin-left: -184px;
  background-color: #f5f6f9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 36px 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.program-overview-title {
  margin: 0;
  width: 272px;
  position: relative;
  font-size: inherit;
  line-height: 126%;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduces-high-school {
  font-weight: 500;
}
.program-overview-description,
.program-overview-description-container {
  position: relative;
  line-height: 151%;
}
.program-overview-description {
  font-weight: 500;
}
.program-overview-description2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-phudu);
  color: var(--color-darkslategray-200);
}
.program-overview-content,
.text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.program-overview-content {
  align-self: stretch;
  gap: 16.3px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-300);
  font-family: var(--font-manrope);
}
.text-block {
  width: 467px;
  gap: var(--gap-2xl);
  max-width: 100%;
}
.screenshot-2025-01-15-at-1117 {
  height: 647px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 422px;
}
.union-icon {
  height: 80px;
  width: 80px;
  position: absolute;
  margin: 0 !important;
  top: -32px;
  left: 501px;
  object-fit: contain;
  z-index: 1;
}
.overview,
.program-overview-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.program-overview-container {
  flex: 1;
  align-items: center;
  padding: 0 var(--padding-13xl);
  position: relative;
  gap: 64px;
}
.overview {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-47xl);
  text-align: center;
  font-size: 32px;
  color: rgba(4, 19, 21, 0.86);
  font-family: var(--font-phudu);
}
.article-title,
.program-includes-title {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.program-includes-title {
  align-self: stretch;
  letter-spacing: -0.03em;
  line-height: 66%;
  font-weight: 400;
}
.article-title {
  line-height: 126%;
  font-weight: 500;
}
.article-header-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  opacity: 0.23;
}
.article-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-mid-5);
}
.elements-geometric-shape-star-icon {
  height: 16px;
  width: 16px;
  position: relative;
}
.article-item-description {
  height: 88px;
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 213px;
  max-width: 100%;
}
.article-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.article-item-description1 {
  height: 38px;
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  min-width: 207px;
  max-width: 100%;
}
.article-container,
.article-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.article-content {
  border-radius: var(--br-base);
  gap: var(--gap-5xl);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-manrope);
}
.article-container {
  gap: var(--gap-21xl);
}
.article-link-text {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-phudu);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.article-link {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray-100);
  padding: var(--padding-smi) var(--padding-xs);
  background-color: transparent;
  height: 40px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.article-link1:hover,
.article-link:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.article,
.article-header1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.article {
  flex: 1;
  border-radius: var(--br-base);
  background: linear-gradient(#a8c0ff, #a8c0ff), #094045;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  min-width: 277px;
  min-height: 617px;
  max-width: 100%;
}
.article-header1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-mid-5);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-phudu);
}
.article-description {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.article-item-description2,
.article-item-description4 {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.article-item-description2 {
  height: 38px;
  line-height: 140%;
  min-width: 390px;
  max-width: 100%;
}
.article-item-description4 {
  height: 13px;
  line-height: 13px;
  max-width: calc(100% - 34px);
}
.article-content1,
.article-item4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.article-content1 {
  border-radius: var(--br-base);
  flex-direction: column;
  gap: var(--gap-5xl);
}
.article-note {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 151%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.article1,
.program-includes-content {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.article1 {
  width: 697px;
  border-radius: var(--br-base);
  background: linear-gradient(#ceeeb9, #ceeeb9), #094045;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: 33.8px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-manrope);
}
.program-includes-content {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-5xl);
  position: relative;
}
.article-title2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 126%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.article-header2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-mid-5);
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.article-description3 {
  align-self: stretch;
  height: 63px;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.article-description1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-manrope);
}
.article-subsection-description,
.article-subsection-title {
  position: relative;
  line-height: 126%;
  font-weight: 500;
}
.article-subsection-description {
  font-size: var(--font-size-base);
  line-height: 140%;
  font-family: var(--font-manrope);
  color: var(--color-darkslategray-100);
}
.article-link1 {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray-100);
  padding: var(--padding-smi) var(--padding-xs);
  background-color: transparent;
  height: 40px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}
.article3 {
  width: 525px;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi-5);
  max-width: 100%;
}
.article-subsection-title1,
.article-subsection-title2 {
  position: relative;
  line-height: 126%;
  font-weight: 500;
  display: inline-block;
  min-width: 123px;
}
.article-subsection-title2 {
  min-width: 121px;
}
.article5 {
  width: 525px;
  border-radius: var(--br-base);
  flex-direction: column;
  gap: var(--gap-smi);
}
.article-content2,
.article2,
.article5,
.block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.article-content2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-height: 733px;
}
.article2,
.block {
  flex-direction: column;
}
.article2 {
  align-self: stretch;
  border-radius: var(--br-base);
  background: linear-gradient(#fdf1d7, #fdf1d7), #094045;
  overflow: hidden;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.block {
  position: relative;
  font-size: var(--font-size-lg);
}
.program-includes-container {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  display: grid;
  grid-template-columns: 1147px;
  grid-row-gap: 32px;
  grid-column-gap: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.third,
.third-wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.third {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  gap: 80px;
  z-index: 1;
}
.third-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs) var(--padding-5xl) 0;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-phudu);
}
.contact-description {
  height: 34px;
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.contact-content,
.contact-description-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-description-container {
  flex-direction: row;
  padding: 0 95px;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--font-manrope);
}
.contact-content {
  flex-direction: column;
  gap: var(--gap-13xl);
}
.contact-email {
  height: 17px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 17px;
  font-weight: 500;
  font-family: var(--font-phudu);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
}
.button-email {
  border-radius: 44px;
  background-color: var(--color-coral);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xl) 31px var(--padding-5xl) var(--padding-13xl);
}
.button-email,
.contact-section,
.email-button-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.email-button-container {
  cursor: pointer;
  border: 0;
  padding: 0 120px;
  background-color: transparent;
  flex-direction: row;
  justify-content: center;
}
.contact-section {
  width: 639px;
  border-radius: var(--br-5xl);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-13xl);
  gap: var(--gap-21xl);
  z-index: 1;
}
.organization-title {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 126%;
  font-weight: 500;
  font-family: inherit;
}
.description {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 140%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--color-gray-300);
}
.left-part-footer {
  width: 419px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 26px;
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.link-title1,
.link-title2 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
}
.link-title1 {
  min-width: 102px;
}
.link-title2 {
  height: 12px;
  flex-shrink: 0;
}
.links-container,
.part-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.links-container {
  justify-content: center;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-manrope);
}
.part-1 {
  border-left: 1px solid var(--color-gray-400);
  justify-content: flex-start;
  padding: var(--padding-13xl) 0 var(--padding-13xl) 39px;
  gap: var(--gap-lg);
}
.social-media-icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-soc-media,
.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.heading-soc-media {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.stem-fellowship {
  color: inherit;
}
.copyright-notice {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 140%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--color-gray-300);
}
.part-2,
.right-part-footer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.part-2 {
  flex: 1;
  border-left: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-13xl) 0 var(--padding-2xl) var(--padding-21xl);
  gap: var(--gap-21xl);
  min-width: 246px;
}
.right-part-footer {
  flex-direction: row;
  align-items: center;
  gap: 112px;
  min-width: 632px;
}
.footer,
.pharmpath {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.footer {
  align-self: stretch;
  border-radius: var(--br-5xl);
  background-color: var(--color-lightcyan);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-29xl) 56px var(--padding-29xl) 114px;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-phudu);
}
.pharmpath {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff9ba;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-13xl) var(--padding-13xl);
  gap: 124px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1024px) {
  .left {
    flex: 1;
    max-width: fit-content;
  }
  .image-description-container {
    padding: var(--padding-47xl) 72px 53px 72px;
    gap: 30rem;
  }  
  .header-language {
    order:2;
  }
  .img-section{
    max-width: min-content;
  }
  .pharmpath {
    padding: var(--padding-xl) var(--padding-5xl) var(--padding-5xl);
  }
  .header-donate-container{
    order:1;
  }
  .menu-icon{
    order: 3;
  }
  .menu-icon {  
    display: block;
  }
  .header-links-container {
    display: none;
  }
  .sf-logo-icon {
    position: static; 
    left: auto;
    transform: none; 
    margin-right: auto; 
  }
  .header-language-container {
    margin-left: auto; 
  }
  .content {
    grid-template-columns: 511px 688px;
  }
  .text-block {
    flex: 1;
  }
  .program-overview-container {
    flex-wrap: wrap;
  }
  .overview {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .left-part-footer,
  .right-part-footer {
    flex: 1;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 57px;
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 744px) {
  .header-links-container {
    display: none;
  }
  .left{
    height: 522px;
    width: 340px;
    padding: 50px 30px;
  }
  .header-language-container {
    gap: var(--gap-base);
  }
  .hero-description{
    font-size: 43px;
  }
  .program-overview-description {
    font-size: var(--font-size-base);
  }
  .hero-button-text {
    font-size: var(--font-size-base);
  }
  .hero-button-container {
    padding: 15px 13px;
  }
  .hero-description1 {
    gap: var(--gap-xl);
  }
  .content {
    grid-template-columns: 341px 688px;
  }
  .img-section {
    min-width: 340px;
  }
  .hero-image-description {
    font-size: var(--font-size-base);
  }
  .image-description-container {
    width: 360px;
    gap: 330px;
  }
  .credits-container {
    padding: 0 5px;
  }
  .article {
    min-height: auto;
  }
  .article1 {
    flex: 1;
    min-width: 100%;
  }
  .program-includes-content {
    flex-wrap: wrap;
    position: relative;
  }
  .article2 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .right-part-footer {
    min-width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .header-links-container {
    display: none;
  }
  .hero-description {
    font-size: var(--font-size-32xl);
    line-height: 51px;
  }
  .pharmpath{
    padding: 16px 16px;
  }
  .header-language-container {
    gap: var(--gap-base);
  }
  .left {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-39xl);
    min-width: 100%;
  }
  .img-section {
    position: relative;
    min-width: 100%;
  }
  .logos {
    gap: var(--gap-xl);
  }
  .program-overview-title {
    font-size: 26px;
    line-height: 32px;
  }
  .screenshot-2025-01-15-at-1117,
  .text-block {
    min-width: 100%;
  }
  .program-overview-container {
    gap: var(--gap-13xl);
  }
  .program-includes-title {
    font-size: var(--font-size-32xl);
    line-height: 34px;
  }
  .article-item {
    flex-wrap: wrap;
  }
  .article-item-description2 {
    min-width: 100%;
  }
  .article1 {
    gap: var(--gap-mid);
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .article-content2 {
    gap: var(--gap-base);
  }
  .article2 {
    gap: var(--gap-xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .program-includes-container {
    gap: var(--gap-base);
    display: grid;
    grid-template-columns: 1147px;
    grid-row-gap: 32px;
    grid-column-gap: 0;
  }
  .third {
    gap: var(--gap-21xl);
  }
  .contact-description-container {
    padding-left: var(--padding-28xl);
    padding-right: var(--padding-28xl);
    box-sizing: border-box;
  }
  .contact-content {
    gap: var(--gap-base);
  }
  .contact-section {
    gap: var(--gap-xl);
  }
  .left-part-footer {
    min-width: 100%;
  }
  .part-1 {
    flex: 1;
  }
  .right-part-footer {
    gap: 56px;
    flex-wrap: wrap;
  }
  .footer {
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
  .pharmpath {
    gap: 62px;
  }
}
@media screen and (max-width: 320px) {
  .hero-title {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .hero-description {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .program-overview-title {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .program-overview-container {
    gap: var(--gap-base);
  }
  .program-includes-title {
    font-size: var(--font-size-19xl);
    line-height: 25px;
  }
  .article-title {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .article-container {
    gap: var(--gap-xl);
  }
  .article {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .article-title2 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .third {
    gap: var(--gap-xl);
  }
  .contact-description-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-email {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .email-button-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .organization-title {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .part-2 {
    gap: var(--gap-xl);
  }
  .right-part-footer {
    gap: 28px;
  }
  .pharmpath {
    gap: 31px;
  }
}
